<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ntnustudies -->
      <package
            uri="platform:/plugin/no.tdt4250.ntnustudies/model/ntnustudies.ecore"
            class="ntnustudies.NtnustudiesPackage"
            genModel="model/ntnustudies.genmodel"/>
   </extension>

</plugin>
